.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-secondary);
  padding-top: 60px;
}

.wrapper h3,
h2 {
  color: var(--text-color);
  width: 100%;
}

.wrapper h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

.wrapper h3 {
  margin-top: 30px;
}
