* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.sideBar {
  width: fit-content;
  background-color: var(--background-secondary);
  position: relative;
  height: 100vh;
  z-index: 10;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 1) 0px 4px 6px -2px;
}

.sideBarHeader,
.sideBarSubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  margin-right: 40px;
}

.sideBarHeader {
  padding: 20px 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

.sideBarHeader h3,
.closeIcon {
  font-size: 15px;
}

.sideBarHeader h3,
.sideBarSubHeader h5,
.closeIcon,
.filterIcon,
.sideBarMain h5,
.sideBarMain label,
.sideBarMain span {
  color: var(--text-color);
}
.sideBarHeader h3,
.sideBarSubHeader h5 {
  margin-left: 40px;
}

.sideBarSubHeader button {
  background-color: var(--blue-color);
  cursor: pointer;
  color: white;
  padding: 7px;
  border: none;
  margin-right: 40px;
  border-radius: 5px;
}

.sideBarCategoryCheckBox,
.sideBarCategoryRange {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--third-color);
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px 0px;
}

.sideBarMain h5 {
  font-size: 13px;
}

.sideBarCategoryChoiceCheckBox {
  margin-top: 9px;
}

.sideBarCategoryChoiceCheckBox label {
  margin-left: 9px;
}

.sideBarCategoryChoiceCheckBox input {
  cursor: pointer;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.sideBarCategoryChoiceCheckBox input:checked ~ .checkmark {
  background-color: var(--blue-color);
}

.sideBarCategoryChoiceCheckBox span {
  float: right;
}

.sideBarCategoryCheckBox h5 {
  margin-bottom: 10px;
}

.sideBarCategoryRange {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sideBarCategoryRange input {
  margin-top: 9px;
  width: 100%;
  cursor: pointer;
}

.filterIcon {
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
}

.sideBarWrapper {
  display: block;
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  .sideBar {
    position: absolute;
  }
}
@media only screen and (max-width: 550px) {
  .filterIcon {
    font-size: 20px;
    padding: 10px;
  }
}
