.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.elementForm {
  width: 600px;
  color: var(--text-color);
}

.elementForm input {
  background-color: var(--background-secondary);
  border: 1px solid var(--blue-color);
  color: var(--text-color);
}

.elementForm input::placeholder {
  color: var(--text-color);
}

.elementForm form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.elementForm h3 {
  font-size: 25px;
  color: var(--text-color);
}

.formHeaderText {
  width: 100%;
  padding: 15px 0px;
}

.elementForm form label,
input,
select,
textarea {
  width: 100%;
  margin-bottom: 14px;
}

.elementForm input,
select,
textarea {
  padding: 10px 0px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.elementForm input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 2px solid var(--blue-color);
}

.elementForm textarea {
  height: 100px;
}

.submit {
  margin-top: 20px;
  background-color: var(--blue-color) !important;
  color: white;
  border: none;
  cursor: pointer;
}

.radioButton {
  margin-top: 10px;
}

.radioLabel {
  margin-left: 10px;
  width: 95% !important;
  font-size: 14px;
  margin-top: 8.5px;
}

.successMessage {
  color: var(--green-color);
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s;
}

.successMessage::after {
  content: "✔";
  margin-left: 10px;
}

.successMessage.show {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .elementForm {
    width: 400px;
  }

  .radioLabel {
    width: 92% !important;
  }
}

@media only screen and (max-width: 450px) {
  .elementForm {
    width: 300px;
  }

  .radioLabel {
    width: 90% !important;
  }
}
