:root {
  --secondary-color: #404040;
  --third-color: #e0e0e1;
  --header-size: 72px;
  --white-secondary: #fafafa;
  --text-color: #ffffff;
  --blue-color: #ff4655;
  --background: #111111;
  --background-secondary: #161625;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin {
  margin: 26px;
}

.center {
  text-align: center;
}
