.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 25px);
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding-left: 25px;
  background-color: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 1) 0px 4px 6px -2px;
  z-index: 3;
}

.pumpIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: var(--blue-color);
}

.headerNameLink {
  text-decoration: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 80px;
  color: var(--text-color);
  cursor: pointer;
  line-height: 70px;
  text-decoration: none;
}
