.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin: 0px 80px;
  margin-top: 40px;
}

.filterDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}
.searchIcon {
  padding: 10.6px 9px;
  vertical-align: middle;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1150px) {
  .main input {
    width: 350px;
  }
}

@media only screen and (max-width: 1000px) {
  .filterDiv {
    flex-wrap: wrap;
  }

  .main input {
    width: calc(100% - 35px);
  }
}

@media only screen and (max-width: 800px) {
  .main {
    margin-left: 137px;
  }
}

@media only screen and (max-width: 550px) {
  .main {
    margin-left: 60px;
    margin-right: 20px;
  }
  .mainContent {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .cardPrice {
    font-size: 15px;
  }

  .cardBrand {
    font-size: 13px;
  }

  .cardArea {
    font-size: 12px;
  }

  .main {
    width: 100%;
  }
}

.stationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingIcon {
  width: 30px;
  height: 30px;
}

.cardLink {
  text-decoration: none;
  color: black;
}
