.wrapper {
  width: 100%;
}

.cardStyle {
  display: flex;
  margin-top: 1rem;
  height: 60px;
  flex-wrap: nowrap;
  position: relative;
  background-color: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 1) 0px 4px 6px -2px;
  cursor: pointer;
}

.imageDiv {
  width: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cardStyleImage {
  width: 100%;
  border-radius: 5px;
}

.cardInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cardAreaDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  flex-wrap: wrap;
  height: 45px;
  margin-left: 20px;
}

.cardAreaDiv span {
  display: block;
  align-items: center;
  text-align: left;
  width: 100%;
}

.cardPriceDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0px 20px;
  height: 40px;
}

.cardBrand {
  font-weight: bold;
  color: var(--text-color);
  font-size: 15px;
}

.cardArea {
  color: #bfc2c6;
  font-size: 14px;
}

.cardPrice {
  font-weight: bold;
  color: var(--text-color);
  font-size: 16px;
}

.cardIcon {
  color: white;
  align-self: center;
  rotate: -90deg;
  margin: 0px 20px;
  transition: 0.5s;
}

.dropDiv {
  transition: 0.5s;
}
.cardStyle:hover > .cardIcon {
  rotate: 0deg;
}
