.filters {
  width: 150px;
  height: 37px;
  font-size: 13px;
  border-radius: 3px;
  background-color: var(--background-secondary);
  color: var(--text-color);
  border: 0px;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 1) 0px 4px 6px -2px;
}

.filters:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .filters {
    width: 100%;
  }
}
