.searchDiv {
  display: flex;
  justify-content: center;
}

.searchDiv input {
  width: 500px;
  height: 37px;
  border-radius: 0px;
  background-color: var(--background-secondary);
  color: var(--text-color);
  padding-left: 20px;
  box-sizing: border-box;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 1) 0px 4px 6px -2px;
}

.searchDiv input:focus {
  outline: none;
}

.searchIcon {
  background-color: var(--blue-color);
  color: white;
  padding: 10.7px 9px;
  vertical-align: middle;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 1) 0px 4px 6px -2px;
}

@media only screen and (max-width: 1000px) {
  .searchDiv {
    width: 100%;
  }
}
